@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container{

    background-color: white;
    height: 700px;
    width: 50vw;
    max-width: 600px;
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 64px;
}

.rgb-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 2em;
    font-weight: 600;
}
